body {
	background: white;
	position: absolute;
}

html{
	width:100%;
	height:100%;
	margin: -10px;
	padding:0;
}

#elm {
    display: block;
    position: absolute;
    width: 10px; height: 10px;
    background-color: #000;
}