body {
  background: #f1f1f1;
  padding: 80px 0 0 0;
}

body, input, button {
}

html{
	width:100%;
	height:100%;
	margin: -10px;
	padding:0;
}

header {
  width: 100%;
  height: 70px;

  position: fixed;
  padding: 15px;
  top: 0;
  left: 0;
  z-index: 5;

  background: #1d9bd1;
  box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);

}
#item {
  width: 70%;
  height: 50px;
  float: right;
  
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  text-indent: 18px;
  
  padding: 0 60px 0 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px 25px 25px 5px;
  border: 0px;
  box-shadow: none;
  outline: none;

  -webkit-appearance: none;
  -moz-appearance: none;
}

#itemh {
  width: 25%;
  height: 50px;
  float: left;
  
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  text-indent: 18px;
  
  padding: 0 60px 0 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px 5px 5px 5px;
  border: 0px;
  box-shadow: none;
  outline: none;

  -webkit-appearance: none;
  -moz-appearance: none;
}


header button {
  width: 50px;
  height: 50px;

  position:absolute;
  top:15px;
  right:15px;
  z-index:2;

  border-radius: 25px;
  background: #fff;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
}

.container {
  width: 100%;
  float: left;
  padding: 15px;
}

ul.mainlist li {
  width: 100%;
  min-height: 100px;
  float: left;
  line-height: 22px;

  background: #fff;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.10);
  margin: 0 0 10px 0;
  padding: 14px 100px 14px 14px;
  word-break: break-word;

}

ul.mainlist {
  width: 100%;
  float: left;
      position: absolute;
}
ul.mainlist li .buttons {
  width: 100px;
  height: 50px;

  position: absolute;
  top: 0;
  right: 0;
}

ul.mainlist li:last-of-type {
	
  margin: 0;
}

.date{
	color: red;
	float: left;
	padding: 0px 0px 0px 0px;
	padding: 5% 5% 5% 5%;
	border-right-color: #f0f0f0; 
    border-right-style: solid; 
    border-right-width: 1px; 
}

.valueh{
	line-height: 0.9em;
	width: 30%;
	color: green;
	float: left;
	padding: 5% 5% 5% 5%;
	font-size: 45px;
}

.description{
	width: 30%;
  min-height: 100px;
	color: #e100ff;
	float: left;
	padding: 5% 5% 5% 5%;
	
	border-right-color: #f0f0f0; 
    border-right-style: solid; 
    border-right-width: 1px; 
    border-left-color: #f0f0f0; 
    border-left-style: solid; 
    border-left-width: 1px; 
}

.check{
	border-radius: 45px;
	width: 30%;
	width: 90px;
	height: 90px;
	background: red;
	float: right;
}

#footer
{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: blue;
}

.menu:after {
	    right: 0px;
    position: absolute;
  content: '\2807';
  font-size: 35px;
  float: right;
  }